{% extends "base.html" %} <!--extends base template inheritance -->
{% block content %}


        <h1></h1>
    <style>
    table {
    {#font-family: arial, sans-serif;#}
    border-collapse: collapse;
    width: 100%;
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even) {
    background-color: #dddddd;
    }
    </style>
    </head>
    <body>

    <div class ='container'>

    <a href="{% url 'create-place' %}">Meeting place not listed? Create a new one!</a><br>
    <table>
        <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Street</th>
        <th>City</th>
        <th>Postal Code</th>
        <th>Private</th>

        </tr>
        {% for meeting in meetings %}
        <tr>
            <td>{{ meeting.name }}</td>
            <td>{{ meeting.number }}</td>
            <td>{{ meeting.street }}</td>
            <td>{{ meeting.city }}</td>
            <td>{{ meeting.postal_code }}</td>
            <td>{{ meeting.is_private }}</td>
        </tr>
        {% endfor %}

    </table>
    </div>

{% endblock content %}

