{% extends "base.html" %} <!--extends base template inheritance -->
{% block content %}


        <h1></h1>
    <style>
    table {
    {#font-family: arial, sans-serif;#}
    border-collapse: collapse;
    width: 100%;
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even) {
    background-color: #dddddd;
    }
    </style>
    </head>
    <body>

    <div class ='container'>
    <a href="{% url 'new-message' %}">Send a new message</a> <br>
    <a href="{% url 'messages-outbox' %}">Outbox</a> <br>

    <table>
        <tr>
        <th>Sender</th>
        <th>Time</th>
        <th>Content</th>

        </tr>
        {% for mess in message %}
        <tr>
            <td>{{ mess.sender }}</td>
            <td>{{ mess.sent_at }}</td>
            <td>{{ mess.content}}</td>

        </tr>

        {% endfor %}

    </table>
    </div>

{% endblock content %}