{% extends 'base.html' %}

{% block body %}
<div class="jumbotron">
    <h1 align = "center">What we do?</h1>
</div>
<div class="container">
    <p>
        Tutorly is a website that helps connect students and tutors <br>
        in an easy to use platform. We believe students should be able <br>
        to easily find the tutors they need based on their required <br>
        subject and look up tutors to see their profile reviews, schedule and pricing. <br>
        <br>

        Tutors will be able to list their competencies and subjects as well<br>
        as list their competencies, subjects and adjust their schedule and pricing.<br>
        <br><br>
        Register today and see what we have to offer now!

    </p>

</div>

{% endblock %}
