{% extends 'base.html' %}
    {% block head %}
    <meta charset="utf-8">
    <title>Tutorly Home</title>
    {% endblock %}

    {% block body %}
    <div class="jumbotron">
        <h1 align = "center">Welcome To Tutorly!</h1>
        <!-- <a href="/login" class="btn btn-outline-primary" role="button" aria-pressed="true" style="float: right">Login</a> -->
    </div>
    <div class="container">
        <h1>We help connect you with quality tutors</h1>
    </div>
    <div class="container">
        <p>
            blah blah blah blah blah blah blah <br>
        blah blah blah blah blah blah blah <br>
        blah blah blah blah blah blah blah <br>
        blah blah blah blah blah blah blah
        </p>

    </div>
    {% endblock %}
