{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %} <!-- overwrites from parent class -->
        <h1></h1>
    <style>
    table {
    {#font-family: arial, sans-serif;#}
    border-collapse: collapse;
    width: 100%;
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even) {
    background-color: #dddddd;
    }
    </style>
    </head>
    <body>


    <div class ='container'>

    <table>
      <tr>
        <th>{% if profile.tutor_flag == 1 %}
            <a class="mr-2" href="{% url 'student_book' %}">Book Now!</a> <br>
            {% endif %}</th>
        <th>Name</th>
        <th>Email</th>
        <th>Description</th>
        <th>Education Level</th>
        <th>City</th>

      </tr>
      <tr>
        <td><img class="rounded-circle account-img" src="{{ profile.image.url }}" height="150" width="150"></td>
        <td>{{ profile }}</td>
        <td>{{ profile.user.email }} </td>
        <td>{{ profile.description }}</td>
        <td>{{ profile.education_level }}</td>
        <td>{{ profile.city }}</td>
      </tr>

    </table>
    <br>
    <table>
        <tr>
        <th>Subject</th>
        <th>Knowledge Level</th>
        <th>School</th>
        <th>GPA</th>
        <th>Specialty</th>
        </tr>
        {% for subject in subjects %}
            <tr>
                <td> {{ subject.subject.name }}</td>
                <td>{{ subject.knowledge_level }}</td>
                <td>{{ subject.school}}</td>
                <td>{% if subject.gpa != None %}
                {{ subject.gpa }}
                {% endif %} </td>
                <td>{{ subject.specialty }}</td>
            </tr>
        {% endfor %}
    <br>
    </table>
    <br>
        <b>Unavailable Times</b>
        <table>
        <tr>
        <th>From</th>
        <th>End</th>
        </tr>
        {% for time in times %}
            <tr>
                <td>{{ time.start_time }}</td>
                <td>{{ time.end_time }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    Reviews

    <table>
        <tr>
        <th>Reviewer</th>
        <th>Date</th>
        <th>Explanation</th>
        <th>Rating</th>
        </tr>
        {% for review in reviews %}
            <tr>
                <td>{{ review.reviewer }}</td>
                <td>{{ review.booking.end_time}}</td>
                <td>{{ review.explanation}}</td>
                <td>{{ review.overall_rating}}</td>
            </tr>
        {% endfor %}
    </table>

    </div>
{% endblock content %}