{% extends 'base.html' %}

{% block body %}
<div class="jumbotron">
    <h1>Register For Tutorly Here</h1>
</div>

<br>
<div class="container">
    <h1>Tutor Registration</h1>
    <h1>Please Fill in All Fields</h1>
    <form method="post">
        <div class="form-group">
            {% csrf_token %}
            {{ user_creation_form.as_p }}
            <br>
            {{ profile_creation_form.as_p }}
        </div>
        <button class = "btn btn-outline-primary " type="submit">Register</button>
    </form>
</div>


{% endblock %}
