{% extends "base.html" %} <!--extends base template inheritance -->
{% block content %}
    <div class ='container'>
        {% for tutor in tutors %} <!--loop over posts in post dictionary -->
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="{% url 'profile-detail' tutor.id %}">Tutor: {{ tutor }}</a> <br>
                </div>

                <p class="article-content">
                    Education: {{ tutor.education_level }} <br>
                    Description: {{ tutor.description }} <br>
                    {% for sub in subs %}
                        {% if sub.subject_creator == user %}
                            Subject: {{ sub.subject}} <br>
                            Knowledge Level: {{ sub.knowledge_level }} <br><br>
                        {% endif %}
                    {% endfor %}
                    <br>
                </p>
              </div>
            </article>
        {% endfor %}
    </div>
{% endblock content %}