{% extends 'base.html' %}
    {% block head %}
    <meta charset="utf-8">
    <title>Tutorly Home</title>
    {% endblock %}

    {% block body %}
    <div class="jumbotron">
        <h1 align = "center">Welcome to Tutorly!</h1>
        <!-- <a href="/login" class="btn btn-outline-primary" role="button" aria-pressed="true" style="float: right">Login</a> -->
    </div>
    <div class="container">
        <h1>We help you connect with quality students and tutors.</h1>
    </div>
    <div class="container">
        <p>
            {% if user.is_authenticated %}
            <a href ="{% url 'student_book'%}">Book an Appointment with a Tutor</a> <br>
            <a href ="{% url 'places'%}">View/Edit Meeting Places</a> <br>
            {% if user.profile.student_flag == 1 %}
             <a href ="{% url 'deps'%}">View/Edit Dependents</a> <br>
            {% endif %}
            <a href ="{% url 'reviews' %}">See Reviews</a><br>
            <a href ="{% url 'new-review' %}">Leave Review</a><br>
            <a href ="{% url 'messages' %}">Inbox</a><br>
                <br>
            Choose from our possible subjects: <br>
               {% for subject in subjects %}
                <a class="mr-2" href="{% url 'subject-choose' subject.name %}">{{ subject.name }}</a> <br>

                {% endfor %}

{#            <a href ="{% url 'tutor_book'%}">Book an Appointment with a Student</a>#}
            {% endif %}
        </p>

    </div>
    {% endblock %}
